html {
  --mat-sys-body-large-font: system-ui, sans-serif;
  --mat-sys-body-medium-font: system-ui, sans-serif;
  --mat-sys-body-small-font: system-ui, sans-serif;
  --mat-sys-label-large-font: system-ui, sans-serif;
  --mat-sys-label-medium-font: system-ui, sans-serif;
  --mat-sys-label-small-font: system-ui, sans-serif;
  --mat-sys-title-large-font: system-ui, sans-serif;
  --mat-sys-title-medium-font: system-ui, sans-serif;
  --mat-sys-title-small-font: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #f7f7f5;
  color: #1a1a1a;
}
